header {
	text-align: center;
	font-family: impact;
	font-size: 24px;
	font-weight: bold;
	background-color: #0B13A2;
	color: #E10A28;
}
#redSide {
	text-align: center;
	color: #E10A28;
	background-color: #50525C;
	font-size: 16px;

}
#blueSide {
	text-align: center;
	color: #0B13A2;
	background-color: #50525C;
	font-size: 16px;

}

#gameBoard >div > .lake {background-color: #0D53C9;}

#gameBoard > div > div {
	height: 4em;
	width: 4em;
	border: 1px dotted black;
	background-color: #08C934;
	position: relative;
}

.R {
	background-color: #E41E05;
	border: 1px solid black;
}
.B {
	background-color: #0001BC;
	border: 1px solid black;
}
.value {
	color: #F7C614;
	font-family: impact;
	font-size: 22px;
	text-align: center;
	vertical-align: center;
	/*display: none;*/
}

/*[data-color="R"] {
	height: 4em;
	width: 4em;
	border: 1px dotted black;
	background-color: red;
}

*/
#leftBar > .row {
	margin-left: 30px;
}
#gameBoard > div > div > div {
	height: 70%;
	width: 100%;
	margin-top: 25%;
	margin-left: 0%;
	position: relative;	
}
#gameBoard > div > div > div > div {
	height: 3em;
	width: 2em;
	color: #F7C614;
	margin-left: -45%;
}
#redStartBox > div > div {
	height: 4em;
	color: #F7C614;
	background-color: #E41E05;
	text-align: center;
	border: 1px solid black;
	font-family: impact;
	font-size: 16px;
	padding: 1em;
}
#blueStartBox > div > div {
	height: 4em;
	color: #F7C614;
	background-color: #0001BC;
	text-align: center;
	border: 1px solid black;
	font-family: impact;
	font-size: 16px;
	padding: 1em;
}
#messageBox {
	min-height: 10em;
}
/*#gameBoard > div > div > .B {
	background-color: blue;
	z-index: 1;
}
#gameBoard > div > div > .R {
	background-color: red;
	z-index: 1;
}*/